<% if users.exists? %>
  <table class="table">
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image,size:'80x80' %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followings.count %></td>
        <td>フォロワー数：<%= user.followers.count %></td>
        <td><%= link_to "Show",user_path(user) %></td>
       </tr>
    <% end %>
   </table>
<% else %>
  <h2>ユーザーはいません</h2>
<% end %>